# =========================
# Dependencies
# =========================
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions


# =========================
# Next.js
# =========================
.next/
out/


# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example


# =========================
# Build
# =========================
build/


# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# =========================
# Testing
# =========================
coverage/


# =========================
# Database / Backup
# =========================
*.sql
backup/


# =========================
# Upload Files
# =========================
uploads/


# =========================
# IDE
# =========================
.vscode/
.idea/


# =========================
# OS
# =========================
.DS_Store
Thumbs.db


# =========================
# Security
# =========================
*.pem
*.key


# =========================
# Vercel
# =========================
.vercel/


# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts
/src/generated/prisma
